/* 
    * Sidebar Configuration
*/

:root {
    --accent: #d4c0b4;
    --font: "Monaspace Argon";
}

/* Applying a small shadow */
.part.sidebar {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
}

/* Customising the title (Explorer/Extensions...) */
.composite.title {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-items: center !important;
}

/* Customising the h2 of the title */
.composite.title h2 {
    font-weight: bold !important;
    font-size: 12px !important;
    text-transform: uppercase;
    color: var(--accent) !important;
    line-height: 1.5;
}

/* Adding a neat little emoji to it :D */
.composite.title h2::before {
    display: inline-block;
    margin-right: 6px;
    margin-left: -2px;
    font-size: 14px;
    content: "🛸";
}

/* Modifying the properties of each item label */
.monaco-tree .mocaco-tree-row .label-name,
.monaco-list .mocaco-list-row,
.monaco-icon-label .label-name {
    /* Too much of one font is bad, change it up with some ARGON */
    font-family: var(--font) !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #FFF;
}

/* Removes annoying border when clicking onto explorer on the side - imo, more cleaner :) */
.monaco-list.list_id_1.mouse-support::before {
    height: 0px !important;
}

/* Project title's style at the top. */
.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center .action-item.command-center-center {
    border: none !important;
    background: transparent !important;
}

/* Project Title */
.titlebar {
    font-family: var(--font) !important;
}

.titlebar-left {
    justify-content: flex-start !important;
    flex-grow: 0 !important;
    width: auto !important;
}

/* Removing those extra buttons on the sidebar that create new file/folder and all that */
.monaco-workbench .part.sidebar .title-actions .actions-container {
    display: none;
}

/* 
    * Slider/Scrollbars
*/

/* Customising the scrollbar (unsure why it's called slider, but it does slide) */
.slider {
    position: absolute !important;
    right: 2px !important;
    width: 4px !important;
    background: var(--accent) !important;
    left: 0px !important;
    bottom: 0px !important;
}

.invisible.scrollbar.horizontal .slider {
    background: transparent !important;
    opacity: 0 !important;
    pointer-events: all !important;
}

/* Removing the outline of the slider/scrollbar. There would've been a small border :( */
.decorationsOverviewRuler {
    outline: none !important;
    /* position: static, removes a border around the scrollbar */
    /* position: static !important;  */
}


/* 
    * Line Numbers
*/

/* Applying a small modification to the line numbers */
.line-numbers {
    position: relative !important;
    opacity: 0.8;
}

/* 
    * Tooltip Hover
*/

/* Changing the tooltip hover box that comes up */
.monaco-editor-hover,
.monaco-hover {
    box-shadow: 0px 8px 32px rgba(0,0,0,.45) !important;
    padding: 5px !important;
    /* backdrop-filter: blur(3px) !important; */
    border: none !important
}

/* 
    * Top bar with additional buttons & search
*/

.titlebar-center.window-title {
    position: absolute !important;
}

/* 
    * Command Palette (Ctrl+Shift+P)
*/

/* Command Palette */
.quick-input-widget {
    transform: translateY(-50%) !important;
    top: 50% !important;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .45) !important;
    padding: 10px 10px 18px 10px !important;
    /* background-image: linear-gradient(#3c3c50 0%, #2a2b38 100%) !important; */
    /* backdrop-filter: blur(3px) !important; */
    border-radius: 0px !important;
}

/* Remove background for lists */
.monaco-list-rows {
    background: transparent !important;
}

/* List hover */
.monaco-list-row:hover {
    background: rgba(0, 0, 0, .2) !important;
}

.notifications-toasts .monaco-list-row:hover {
    background: none !important;
}

/* Command palette text input */
.quick-input-filter .monaco-inputbox {
    border-radius: 12px !important;
    padding: 8px !important;
    border: none !important;
    background-color: rgba(34, 34, 34, .40) !important;
    font-family: var(--font) !important;
    font-size: 14px !important;
    margin-bottom: 16px !important;
}

/* Command palette's input box placeholder. */
.monaco-inputbox input::placeholder {
    color: rgba(255, 255, 255, 0.3) !important;
}